<div class="search-box">
  <input 
    type="text" 
    placeholder="Search products..." 
    [(ngModel)]="searchTerm"
  />
</div>


<div class="tableMain">
    <div class="myt">
        <table class="tbl">
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>price</th>
                    <th>category</th>
                    <th>createdAt</th>
                    
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let name of filteredList(); let serial = index">
                    <td>{{serial}}</td>
                    <td>{{name.name}}</td>
                    <td>{{name.price}}</td>
                    <td>{{name.category}}</td>
                    <td>{{name.createdAt | date: 'short'}}</td>
                    
                </tr>
            </tbody>
        </table>
    </div>

</div>